# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc

# Database
database/*.db

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Ignore virtual environment and cache files
venv/
__pycache__/
*.pyc
.env

